
#titulo {
    padding: 0;
    width: 1000px;
    font-family: 'Linotype Didot Pro Roman', serif;
    float: bottom;
    font-size: 60px;
    text-align: center;
    margin: 100px;

}


ul, ol {
    list-style: none;
}

.nav li a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: ghostwhite;
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0;
}


/*simbolos pag principal*/

.material-symbols-outlined {
    float: right;
    size: 10px;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48

}
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }




/*ifn*/


/* imagenes pag principal slider*/
.slider {
    width:95%;
    margin: auto;
    overflow: hidden;

}

.slider ul {
    display: flex;
    padding: 0;
    width:400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width:100%;
    list-style: none;
}

.slider img {
    width:100%;

}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }


}


.contact {
    background: #000203;
    color: #dcd8d8;
    position: relative;
    height: 50%;
}

.content {
    padding-top: 3%;
}

.contact a {
    color: #dcd8d8;
}

.contact a:hover {
    color: #cbc8c8;
}

.ubicaciones {
    text-align: center;

}


body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Ubuntu', sans-serif;

}


#iniciar {
    width: 320px;
    height: 420px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

#iniciar h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#iniciar label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

#iniciar button {
    width: 100%;
    margin-bottom: 20px;
}

#iniciar input[type="email"], #iniciar input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 12px;
}

#iniciar button[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;

}

#iniciar a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;


}

#iniciar a:hover {
    color: white;
}

#registrarme {
    width: 400px;
    height: 560px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 10%;
}


#registrarme h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#registrarme label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

#registrarme button {
    width: 100%;
    margin-bottom: 20px;
}

#registrarme input[type="email"], #registrarme input[type="password"],
#registrarme input[type="password"], #registrarme input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 12px;
}

#registrarme button[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;

}


#entrega {
    width: 450px;
    height: 300px;
    background: black;
    color: whitesmoke;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 15%;
}

#entrega h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;

}

#entrega label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

#entrega button {
    width: 100%;
    margin-bottom: 20px;
}

#entrega input[type="radio"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 15px;
    color: white;
    font-size: 20px;
}

#entrega button[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;

}

#envio {
    width: 400px;
    height: 560px;
    background: black;;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 10%;
}


#envio h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#envio label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

#envio button {
    width: 100%;
    margin-bottom: 20px;
}

#envio input[type="number"], #envio input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 12px;
}

#envio button[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;

}

#pago {
    width: 450px;
    height: 300px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 15%;
}

#pago h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;

}

#pago label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

#pago input {
    width: 100%;
    margin-bottom: 20px;
}

#pago input[type="radio"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 15px;
    color: white;
    font-size: 20px;
}

#pago input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;

}

/*productos*/
.boton {
    transition-duration: 0.4s;
    border:none;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: black;
    border:2px solid #555655;
    border-radius: 8px;
    padding: 10px 25px;
    position: absolute;
}

.boton:hover {
    background-color: #565454;
    color: white;
}




.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.text-center h1 {
    text-align: center;
    position: absolute;
    font-family: 'Linotype Didot Pro Roman', serif;
}
.producto{
    margin-left: 20px;
}
.producto img {
    width: 300px;
}

.producto h3 {
    font-size: 1.7em;
    margin-top: 10px;
    accent-color: antiquewhite;
    margin-bottom: 5px;
}

.producto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
    background-color: white;
}




